html {
    height : 100%;
}
body {
    height : 100%;
    background-image : url('paris.jpg');
    background-repeat : no-repeat;
    background-size : cover;
    height : 100%;
}
#time {
    color : white;
    font-size : 100px;
    text-align: center;
}
.name {
    width : 500px;
    font-size : 50px;
}

div {
    text-align: center;
}
#list_box {
    margin : 20px;
}

h2 {
    font-size : 60px;
    color : lightblue;
}
li {
    font-size : 30px;
    color : lightskyblue;
}

#list-group {
    margin-top : 20px;
}
.list-group-item-action {
    background-color : rgb(255, 255, 255, 0.1);
}
.form-control {
    width : 50%;
    display : inline;
    font-size : 20px;
}
#name_box {
    text-align : center;
}
#logout_box {
    text-align : right;
    padding-right : 10px;
    padding-top : 10px;
}
