html {
    height : 100%;
}
body {
    height : 100%;
    background-image : url('paris.jpg');
    background-repeat : no-repeat;
    background-size : cover;
    height : 100%;
}
#time {
    color : white;
    font-size : 100px;
    text-align: center;
}
.name {
    width : 500px;
    font-size : 50px;
}
input::placeholder {
    color: grey;
}
div {
    text-align: center;
}
#list_box {
    margin : 20px;
}
.list {
    width:300px;
    font-size : 30px;
}
h2 {
    font-size : 60px;
    color : lightblue;
}
li {
    font-size : 30px;
    color : lightskyblue;
}

#list-group {
    margin-top : 20px;
}
.list-group-item-action {
    background-color : rgb(255, 255, 255, 0.1);
}